#2024년 수원서베이 데이터

데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

file_path = '/content/drive/MyDrive/suwon/(HRC250604) 2024년 수원서베이 용역_공개용 데이터(엑셀).xlsx'

# .xlsx 파일 읽기
df_survey24 = pd.read_excel(file_path)
print(df_survey24.head())

  응답자 PID (가구용) 문0. 가구 정보 - 1. 거주 주택 유형 (가구용) 문0. 가구 정보 - 2. 1인 가구 여부  \
0     PID                          H0a1                          H0a2
1   29715                             1                             1
2   51295                             1                             2
3   52982                             1                             2
4   54416                             1                             2

  (가구용) 문0. 가구 정보 - 3. 맞벌이 여부(가구주 기준) (가구용) 문0. 응답자 성별 (가구용) 문0. 응답자 출생연도  \
0                                H0a3           gender              birth
1                                   3                1               1992
2                                   1                2               1981
3                                   2                1               1977
4                                   2                1               1975

  (가구용) 문0. 총 가구원 수 (가구용) 문0. 가구원1 가구대표자(응답자)와의 관계  \
0              H0a4                         H0a5n1
1                 1                              1
2                 4                              2
3                 5                              1
4                 4                              2

  (가구용) 문0. 가구원1 가구대표자(응답자)와의 관계_기타 (가구용) 문0. 가구원1 성별  ...  정책 관심도 수원시정 만족도  \
0                          H0a5opn1            H0a9n1  ...  SCORE1   SCORE2
1                               NaN                 1  ...       2        1
2                               NaN                 1  ...       2        3
3                               NaN                 1  ...       2        3
4                               NaN                 2  ...       2        3

  한 주간 삶의 질_평균(7점) 영역별 행복 정도_평균(10점) 환경 만족도_평균(7점) 한 주간 삶의 질_평균(100점)  \
0              MQ1               MQ2           MQ4               MHQ1
1                4               5.6           4.6                 50
2         4.857143                 8           5.3          64.285714
3         4.571429               5.6           5.1           59.52381
4         3.285714               7.2           4.1          38.095238

  영역별 행복 정도_평균(100점) 환경 만족도_평균(100점)       모수가중치     표본가중치
0               MHQ2            MHQ4          wg        ws
1                 56            60.0         241  0.729643
2                 80       71.666667  202.384615  0.612732
3                 56       68.333333         212  0.641843
4                 72       51.666667  318.416667  0.964027

[5 rows x 481 columns]

1인 가구 수 찾기

In [3]:
question_code1 = "H0a2"

code_row1 = df_survey24.iloc[0]  # 첫 번째 행에는 문항 코드 존재
target_col1 = code_row1[code_row1 == question_code1].index[0]  # "H0a2"가 위치한 열 이름

# 해당 열의 데이터만 추출하여 1인가구 수 세기
response_series = df_survey24[target_col1].iloc[1:]
count_result = response_series.value_counts().sort_index()

# 라벨링
label_map1 = {
    1: "1인 가구 수",
    2: "다인 가구 수"
}

# 결과 출력
for code, label in label_map1.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

1인 가구 수: 1077명
다인 가구 수: 1980명

In [4]:
df_all = df_survey24.copy()

# only1_df : 1인가구 응답자 데이터만 모음
df_only_responses = df_all.iloc[1:]
only1_df_before = df_only_responses[df_only_responses[target_col1] == 1]
only1_df_before = only1_df_before.dropna(axis=1, how='all')

# 문항 코드 행도 동일한 컬럼만 유지
code_row_filtered = df_all.iloc[[0]][only1_df_before.columns]
only1_df = pd.concat([code_row_filtered, only1_df_before], ignore_index=True)

# 결과 확인
only1_df.head()

,응답자 PID,(가구용) 문0. 가구 정보 - 1. 거주 주택 유형,(가구용) 문0. 가구 정보 - 2. 1인 가구 여부,(가구용) 문0. 가구 정보 - 3. 맞벌이 여부(가구주 기준),(가구용) 문0. 응답자 성별,(가구용) 문0. 응답자 출생연도,(가구용) 문0. 총 가구원 수,(가구용) 문0. 가구원1 가구대표자(응답자)와의 관계,(가구용) 문0. 가구원1 성별,(가구용) 문0. 가구원1 출생년도,...,정책 관심도,수원시정 만족도,한 주간 삶의 질_평균(7점),영역별 행복 정도_평균(10점),환경 만족도_평균(7점),한 주간 삶의 질_평균(100점),영역별 행복 정도_평균(100점),환경 만족도_평균(100점),모수가중치,표본가중치
0,PID,H0a1,H0a2,H0a3,gender,birth,H0a4,H0a5n1,H0a9n1,H0a10n1,...,SCORE1,SCORE2,MQ1,MQ2,MQ4,MHQ1,MHQ2,MHQ4,wg,ws
1,29715,1,1,3,1,1992,1,1,1,1992,...,2,1,4,5.6,4.6,50,56,60.0,241,0.729643
2,140541,2,1,3,2,1975,1,1,2,1975,...,2,3,5.428571,7.2,5.1,73.809524,72,68.333333,371.888889,1.125917
3,146275,2,1,3,1,1991,1,1,1,1991,...,2,2,4,4.4,3.5,50,44,41.666667,366.111111,1.108424
4,217354,2,1,3,1,1975,1,1,1,1975,...,1,1,4.714286,4.4,3.7,61.904762,44,45.0,836.5,2.532556

In [6]:
code_row = df_survey24.iloc[0]

birth_col = code_row[code_row == "birth"].index[0]
only1_responses = only1_df.iloc[1:]
birth_series = pd.to_numeric(only1_responses[birth_col], errors='coerce')


birth_filtered = only1_responses[(birth_series >= 1989) & (birth_series <= 2005)]
only1_youth24 = pd.concat([only1_df.iloc[[0]], birth_filtered], ignore_index=True)

only1_youth24.head()

,응답자 PID,(가구용) 문0. 가구 정보 - 1. 거주 주택 유형,(가구용) 문0. 가구 정보 - 2. 1인 가구 여부,(가구용) 문0. 가구 정보 - 3. 맞벌이 여부(가구주 기준),(가구용) 문0. 응답자 성별,(가구용) 문0. 응답자 출생연도,(가구용) 문0. 총 가구원 수,(가구용) 문0. 가구원1 가구대표자(응답자)와의 관계,(가구용) 문0. 가구원1 성별,(가구용) 문0. 가구원1 출생년도,...,정책 관심도,수원시정 만족도,한 주간 삶의 질_평균(7점),영역별 행복 정도_평균(10점),환경 만족도_평균(7점),한 주간 삶의 질_평균(100점),영역별 행복 정도_평균(100점),환경 만족도_평균(100점),모수가중치,표본가중치
0,PID,H0a1,H0a2,H0a3,gender,birth,H0a4,H0a5n1,H0a9n1,H0a10n1,...,SCORE1,SCORE2,MQ1,MQ2,MQ4,MHQ1,MHQ2,MHQ4,wg,ws
1,29715,1,1,3,1,1992,1,1,1,1992,...,2,1,4,5.6,4.6,50,56,60.0,241,0.729643
2,146275,2,1,3,1,1991,1,1,1,1991,...,2,2,4,4.4,3.5,50,44,41.666667,366.111111,1.108424
3,236734,1,1,3,2,1992,1,1,2,1992,...,2,1,3.857143,6.6,5,47.619048,66,66.666667,366.6,1.109905
4,240889,2,1,3,1,1992,1,1,1,1992,...,1,2,4.428571,4.6,3.7,57.142857,46,45.0,554.285714,1.678135

In [7]:
only1_youth24.shape[0]

386

1인가구 대상, 수원 시민들의 삶의 질 알아보기

1. 행복했다

In [8]:
question_code2 = "Q1a1"

code_row2 = only1_youth24.iloc[0]
target_col2 = code_row2[code_row2 == question_code2].index[0]


response_series = only1_youth24[target_col2].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map2 = {
    1: "① 전혀 그렇지 않다",
    2: "② 많이 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "1. 행복했다"')

for code, label in label_map2.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "1. 행복했다"
① 전혀 그렇지 않다: 7명
② 많이 그렇지 않다: 7명
③ 조금 그렇지 않다: 14명
④ 보통: 82명
⑤ 약간 그렇다: 121명
⑥ 그렇다: 127명
⑦ 매우 그렇다: 27명

2. 가치있는 존재라고 생각했다

In [9]:
question_code3 = "Q1a2"

code_row3 = only1_youth24.iloc[0]
target_col3 = code_row3[code_row3 == question_code3].index[0]


response_series = only1_youth24[target_col3].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map3 = {
    1: "① 전혀 그렇지 않다",
    2: "② 많이 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "2. 가치있는 존재라고 생각했다"')

for code, label in label_map3.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "2. 가치있는 존재라고 생각했다"
① 전혀 그렇지 않다: 5명
② 많이 그렇지 않다: 8명
③ 조금 그렇지 않다: 21명
④ 보통: 75명
⑤ 약간 그렇다: 127명
⑥ 그렇다: 107명
⑦ 매우 그렇다: 42명

3. 건강하다고 느꼈다

In [10]:
question_code4 = "Q1a3"

code_row4 = only1_youth24.iloc[0]
target_col4 = code_row4[code_row4 == question_code4].index[0]


response_series = only1_youth24[target_col4].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map4 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "3. 건강하다고 느꼈다"')

for code, label in label_map4.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "3. 건강하다고 느꼈다"
① 전혀 그렇지 않다: 5명
② 별로 그렇지 않다: 13명
③ 조금 그렇지 않다: 25명
④ 보통: 66명
⑤ 약간 그렇다: 116명
⑥ 그렇다: 119명
⑦ 매우 그렇다: 41명

4. 내 삶에 대해 만족했다

In [11]:
question_code5 = "Q1a4"

code_row5 = only1_youth24.iloc[0]
target_col5 = code_row5[code_row5 == question_code5].index[0]


response_series = only1_youth24[target_col5].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map5 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "4. 내 삶에 대해 만족했다"')

for code, label in label_map5.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "4. 내 삶에 대해 만족했다"
① 전혀 그렇지 않다: 7명
② 별로 그렇지 않다: 16명
③ 조금 그렇지 않다: 28명
④ 보통: 75명
⑤ 약간 그렇다: 134명
⑥ 그렇다: 98명
⑦ 매우 그렇다: 27명

5. 외로웠다

In [12]:
question_code6 = "Q1a5"

code_row6 = only1_youth24.iloc[0]
target_col6 = code_row6[code_row6 == question_code6].index[0]


response_series = only1_youth24[target_col6].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map6 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "5. 외로웠다"')

for code, label in label_map6.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "5. 외로웠다"
① 전혀 그렇지 않다: 68명
② 별로 그렇지 않다: 80명
③ 조금 그렇지 않다: 64명
④ 보통: 69명
⑤ 약간 그렇다: 64명
⑥ 그렇다: 27명
⑦ 매우 그렇다: 13명

6. 걱정을 많이 했다

In [13]:
question_code7 = "Q1a6"

code_row7 = only1_youth24.iloc[0]
target_col7 = code_row7[code_row7 == question_code7].index[0]


response_series = only1_youth24[target_col7].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map7 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "6. 걱정을 많이 했다"')

for code, label in label_map7.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "6. 걱정을 많이 했다"
① 전혀 그렇지 않다: 57명
② 별로 그렇지 않다: 77명
③ 조금 그렇지 않다: 78명
④ 보통: 65명
⑤ 약간 그렇다: 61명
⑥ 그렇다: 35명
⑦ 매우 그렇다: 12명

7. 우울했다

In [14]:
question_code8 = "Q1a7"

code_row8 = only1_youth24.iloc[0]
target_col8 = code_row8[code_row8 == question_code8].index[0]


response_series = only1_youth24[target_col8].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map8 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "7. 우울했다"')

for code, label in label_map8.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "7. 우울했다"
① 전혀 그렇지 않다: 86명
② 별로 그렇지 않다: 96명
③ 조금 그렇지 않다: 68명
④ 보통: 59명
⑤ 약간 그렇다: 35명
⑥ 그렇다: 35명
⑦ 매우 그렇다: 6명

1인 가구 대상, 수원 시민들의 복지 체감도

수원시 환경만족도 - 복지환경

In [15]:
question_code9 = "Q4a5"

code_row9 = only1_youth24.iloc[0]
target_col9 = code_row9[code_row9 == question_code9].index[0]


response_series = only1_youth24[target_col9].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map9 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 복지환경')

for code, label in label_map9.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 복지환경
① 전혀 만족하지 않는다: 3명
② 별로 만족하지 않는다: 9명
③ 조금 만족하지 않는다: 28명
④ 보통: 117명
⑤ 약간 만족한다: 133명
⑥ 만족한다: 72명
⑦ 매우 만족한다: 23명

수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)

In [16]:
question_code10 = "Q4a4"

code_row10 = only1_youth24.iloc[0]
target_col10 = code_row10[code_row10 == question_code10].index[0]


response_series = only1_youth24[target_col10].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map10 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)')

for code, label in label_map10.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)
① 전혀 만족하지 않는다: 1명
② 별로 만족하지 않는다: 9명
③ 조금 만족하지 않는다: 20명
④ 보통: 78명
⑤ 약간 만족한다: 148명
⑥ 만족한다: 112명
⑦ 매우 만족한다: 17명

수원시 환경만족도 - 안전환경

In [17]:
question_code11 = "Q4a8"

code_row11 = only1_youth24.iloc[0]
target_col11 = code_row11[code_row11 == question_code11].index[0]


response_series = only1_youth24[target_col11].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map11 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 안전환경')

for code, label in label_map11.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 안전환경
① 전혀 만족하지 않는다: 5명
② 별로 만족하지 않는다: 16명
③ 조금 만족하지 않는다: 38명
④ 보통: 103명
⑤ 약간 만족한다: 113명
⑥ 만족한다: 91명
⑦ 매우 만족한다: 19명

수원시 환경만족도 - 사회환경

In [18]:
question_code12 = "Q4a9"

code_row12 = only1_youth24.iloc[0]
target_col12 = code_row12[code_row12 == question_code12].index[0]


response_series = only1_youth24[target_col12].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map12 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 사회환경')

for code, label in label_map12.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 사회환경
① 전혀 만족하지 않는다: 5명
② 별로 만족하지 않는다: 22명
③ 조금 만족하지 않는다: 31명
④ 보통: 118명
⑤ 약간 만족한다: 125명
⑥ 만족한다: 69명
⑦ 매우 만족한다: 15명

1인 가구 대상, 수원시 내 여가생활 평가 - 나의 전반적인 여가생활에 만족한다

In [19]:
question_code13 = "Q27a1"

code_row13 = only1_youth24.iloc[0]
target_col13 = code_row13[code_row13 == question_code13].index[0]


response_series = only1_youth24[target_col13].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map13 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'나의 전반적인 여가생활에 만족한다')

for code, label in label_map13.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

나의 전반적인 여가생활에 만족한다
① 전혀 그렇지 않다: 8명
② 별로 그렇지 않다: 17명
③ 조금 그렇지 않다: 34명
④ 보통: 118명
⑤ 약간 그렇다: 129명
⑥ 그렇다: 66명
⑦ 매우 그렇다: 13명

1인 가구 수원 시민들의 수원시 정책 관심도

In [20]:
question_code14 = "Q58"

code_row14 = only1_youth24.iloc[0]
target_col14 = code_row14[code_row14 == question_code14].index[0]


response_series = only1_youth24[target_col14].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map14 = {
    1: "① 전혀 없다",
    2: "② 없는 편이다",
    3: "③ 보통이다",
    4: "④ 많은 편이다",
    5: "⑤ 매우 많다"
}


print(f'수원시 정책 관심도')

for code, label in label_map14.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 정책 관심도
① 전혀 없다: 27명
② 없는 편이다: 111명
③ 보통이다: 175명
④ 많은 편이다: 65명
⑤ 매우 많다: 7명