#2023년 수원서베이 데이터

데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

file_path = '/content/drive/MyDrive/suwon/(HRC250611) 2023년 수원서베이 용역_공개용 데이터(엑셀).xlsx'

# .xlsx 파일 읽기
df_survey23 = pd.read_excel(file_path)
print(df_survey23.head())

  Unnamed: 0    총 가구원 수   출생년도1   출생년도2   출생년도3   출생년도4   출생년도5   출생년도6  \
0        PID  totgagu1s  birth1  birth2  birth3  birth4  birth5  birth6
1         50          3    1966    1968    1995     NaN     NaN     NaN
2         51          2    1958    1963     NaN     NaN     NaN     NaN
3         52          2    1996    1996     NaN     NaN     NaN     NaN
4         53          3    1989    1986    2020     NaN     NaN     NaN

       코드1      코드2  ... 현재 집 거주 기간 주택 유형 주택 점유 형태     직업 월평균 가구소득 경제사회적 위치  \
0  choice1  choice2  ...        DM8   DM9     DM10  DM101     DM11     DM12
1        1      NaN  ...          1     2        1      2        7        2
2        1      NaN  ...          1     2        1      3        7        3
3        1      NaN  ...          1     2        1      2        6        3
4        1      NaN  ...          1     2        1      4        5        3

   정치성향 정책 관심도 시민의견 수렴 정도 수원시정 만족도
0  DM13   ADD1       ADD2     ADD3
1     2      2          1        3
2     1      2          2        3
3     2      2          2        3
4     2      2          2        3

[5 rows x 406 columns]

1인 가구 수 찾기

In [3]:
question_code1 = "totgagu1s"

code_row1 = df_survey23.iloc[0]
target_col1 = code_row1[code_row1 == question_code1].index[0]
response_series = df_survey23[target_col1].iloc[1:]
response_series = pd.to_numeric(response_series, errors='coerce')

# 1인 가구 수
count_single = (response_series == 1).sum()

# 다인 가구 수 (2~6 범위)
count_multi = response_series.isin([2, 3, 4, 5, 6]).sum()


print(f"1인 가구 수: {count_single}명")
print(f"다인 가구 수: {count_multi}명")

1인 가구 수: 403명
다인 가구 수: 1638명

In [4]:
df_all = df_survey23.copy()

# only1_df : 1인가구 응답자 데이터만 모음
df_only_responses = df_all.iloc[1:]
only1_df_before = df_only_responses[df_only_responses[target_col1] == 1]
only1_df_before = only1_df_before.dropna(axis=1, how='all')

# 문항 코드 행도 동일한 컬럼만 유지
code_row_filtered = df_all.iloc[[0]][only1_df_before.columns]
only1_df = pd.concat([code_row_filtered, only1_df_before], ignore_index=True)

# 결과 확인
only1_df.head()

,Unnamed: 0,총 가구원 수,출생년도1,코드1,가구주와의 관계1,성별1,응답자 성별,응답자 출생년도,문1. 한 주 간 삶의 질 - 1. 행복했다,문1. 한 주 간 삶의 질 - 2. 가치있는 존재라고 생각했다,...,현재 집 거주 기간,주택 유형,주택 점유 형태,직업,월평균 가구소득,경제사회적 위치,정치성향,정책 관심도,시민의견 수렴 정도,수원시정 만족도
0,PID,totgagu1s,birth1,choice1,relat1,sex1,gender,birth,Q1a1,Q1a2,...,DM8,DM9,DM10,DM101,DM11,DM12,DM13,ADD1,ADD2,ADD3
1,56,1,1949,1,1,2,2,6,6,6,...,3,1,1,3,3,2,3,2,2,2
2,68,1,1999,1,1,2,2,1,6,6,...,1,1,2,2,2,3,3,2,2,3
3,123,1,1954,1,1,1,1,5,6,6,...,1,3,2,3,4,3,1,2,2,3
4,145,1,1990,1,1,2,2,2,4,4,...,1,3,3,2,3,1,1,1,1,2

In [12]:
code_row = df_survey23.iloc[0]

birth_col = code_row[code_row == "birth1"].index[0]
only1_responses = only1_df.iloc[1:]
birth_series = pd.to_numeric(only1_responses[birth_col], errors='coerce')


birth_filtered = only1_responses[(birth_series >= 1988) & (birth_series <= 2004)]
only1_youth23 = pd.concat([only1_df.iloc[[0]], birth_filtered], ignore_index=True)

only1_youth23.head()

,Unnamed: 0,총 가구원 수,출생년도1,코드1,가구주와의 관계1,성별1,응답자 성별,응답자 출생년도,문1. 한 주 간 삶의 질 - 1. 행복했다,문1. 한 주 간 삶의 질 - 2. 가치있는 존재라고 생각했다,...,현재 집 거주 기간,주택 유형,주택 점유 형태,직업,월평균 가구소득,경제사회적 위치,정치성향,정책 관심도,시민의견 수렴 정도,수원시정 만족도
0,PID,totgagu1s,birth1,choice1,relat1,sex1,gender,birth,Q1a1,Q1a2,...,DM8,DM9,DM10,DM101,DM11,DM12,DM13,ADD1,ADD2,ADD3
1,68,1,1999,1,1,2,2,1,6,6,...,1,1,2,2,2,3,3,2,2,3
2,145,1,1990,1,1,2,2,2,4,4,...,1,3,3,2,3,1,1,1,1,2
3,155,1,1988,1,1,1,1,2,5,5,...,1,4,3,3,3,1,3,2,2,3
4,156,1,1990,1,1,2,2,2,6,6,...,1,4,3,3,2,1,3,3,3,3

In [13]:
only1_youth23.shape[0]

158

1인가구 대상, 수원 시민들의 삶의 질 알아보기

1. 행복했다

In [14]:
question_code2 = "Q1a1"

code_row2 = only1_youth23.iloc[0]
target_col2 = code_row2[code_row2 == question_code2].index[0]


response_series = only1_youth23[target_col2].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map2 = {
    1: "① 전혀 그렇지 않다",
    2: "② 많이 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "1. 행복했다"')

for code, label in label_map2.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "1. 행복했다"
① 전혀 그렇지 않다: 0명
② 많이 그렇지 않다: 0명
③ 조금 그렇지 않다: 1명
④ 보통: 34명
⑤ 약간 그렇다: 66명
⑥ 그렇다: 51명
⑦ 매우 그렇다: 5명

2. 가치있는 존재라고 생각했다

In [15]:
question_code3 = "Q1a2"

code_row3 = only1_youth23.iloc[0]
target_col3 = code_row3[code_row3 == question_code3].index[0]


response_series = only1_youth23[target_col3].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map3 = {
    1: "① 전혀 그렇지 않다",
    2: "② 많이 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "2. 가치있는 존재라고 생각했다"')

for code, label in label_map3.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "2. 가치있는 존재라고 생각했다"
① 전혀 그렇지 않다: 0명
② 많이 그렇지 않다: 0명
③ 조금 그렇지 않다: 5명
④ 보통: 17명
⑤ 약간 그렇다: 61명
⑥ 그렇다: 69명
⑦ 매우 그렇다: 5명

3. 건강하다고 느꼈다

In [16]:
question_code4 = "Q1a3"

code_row4 = only1_youth23.iloc[0]
target_col4 = code_row4[code_row4 == question_code4].index[0]


response_series = only1_youth23[target_col4].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map4 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "3. 건강하다고 느꼈다"')

for code, label in label_map4.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "3. 건강하다고 느꼈다"
① 전혀 그렇지 않다: 0명
② 별로 그렇지 않다: 0명
③ 조금 그렇지 않다: 6명
④ 보통: 24명
⑤ 약간 그렇다: 55명
⑥ 그렇다: 47명
⑦ 매우 그렇다: 25명

4. 내 삶에 대해 만족했다

In [17]:
question_code5 = "Q1a4"

code_row5 = only1_youth23.iloc[0]
target_col5 = code_row5[code_row5 == question_code5].index[0]


response_series = only1_youth23[target_col5].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map5 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "4. 내 삶에 대해 만족했다"')

for code, label in label_map5.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "4. 내 삶에 대해 만족했다"
① 전혀 그렇지 않다: 0명
② 별로 그렇지 않다: 0명
③ 조금 그렇지 않다: 4명
④ 보통: 33명
⑤ 약간 그렇다: 73명
⑥ 그렇다: 41명
⑦ 매우 그렇다: 6명

5. 외로웠다

In [18]:
question_code6 = "Q1a5"

code_row6 = only1_youth23.iloc[0]
target_col6 = code_row6[code_row6 == question_code6].index[0]


response_series = only1_youth23[target_col6].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map6 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "5. 외로웠다"')

for code, label in label_map6.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "5. 외로웠다"
① 전혀 그렇지 않다: 5명
② 별로 그렇지 않다: 22명
③ 조금 그렇지 않다: 42명
④ 보통: 51명
⑤ 약간 그렇다: 30명
⑥ 그렇다: 7명
⑦ 매우 그렇다: 0명

6. 걱정을 많이 했다

In [19]:
question_code7 = "Q1a6"

code_row7 = only1_youth23.iloc[0]
target_col7 = code_row7[code_row7 == question_code7].index[0]


response_series = only1_youth23[target_col7].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map7 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "6. 걱정을 많이 했다"')

for code, label in label_map7.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "6. 걱정을 많이 했다"
① 전혀 그렇지 않다: 4명
② 별로 그렇지 않다: 31명
③ 조금 그렇지 않다: 37명
④ 보통: 38명
⑤ 약간 그렇다: 33명
⑥ 그렇다: 14명
⑦ 매우 그렇다: 0명

7. 우울했다

In [20]:
question_code8 = "Q1a7"

code_row8 = only1_youth23.iloc[0]
target_col8 = code_row8[code_row8 == question_code8].index[0]


response_series = only1_youth23[target_col8].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map8 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'한주 간 삶의 질 - "7. 우울했다"')

for code, label in label_map8.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

한주 간 삶의 질 - "7. 우울했다"
① 전혀 그렇지 않다: 17명
② 별로 그렇지 않다: 32명
③ 조금 그렇지 않다: 35명
④ 보통: 44명
⑤ 약간 그렇다: 24명
⑥ 그렇다: 5명
⑦ 매우 그렇다: 0명

1인 가구 대상, 수원 시민들의 복지 체감도

수원시 환경만족도 - 복지환경

In [21]:
question_code9 = "Q3a4"

code_row9 = only1_youth23.iloc[0]
target_col9 = code_row9[code_row9 == question_code9].index[0]


response_series = only1_youth23[target_col9].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map9 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 복지환경')

for code, label in label_map9.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 복지환경
① 전혀 만족하지 않는다: 0명
② 별로 만족하지 않는다: 0명
③ 조금 만족하지 않는다: 6명
④ 보통: 51명
⑤ 약간 만족한다: 72명
⑥ 만족한다: 26명
⑦ 매우 만족한다: 2명

수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)

In [22]:
question_code10 = "Q3a3"

code_row10 = only1_youth23.iloc[0]
target_col10 = code_row10[code_row10 == question_code10].index[0]


response_series = only1_youth23[target_col10].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map10 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)')

for code, label in label_map10.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 생활환경(행정복지센터, 은행, 상점 등)
① 전혀 만족하지 않는다: 0명
② 별로 만족하지 않는다: 0명
③ 조금 만족하지 않는다: 14명
④ 보통: 30명
⑤ 약간 만족한다: 76명
⑥ 만족한다: 34명
⑦ 매우 만족한다: 3명

수원시 환경만족도 - 안전환경

In [23]:
question_code11 = "Q3a7"

code_row11 = only1_youth23.iloc[0]
target_col11 = code_row11[code_row11 == question_code11].index[0]


response_series = only1_youth23[target_col11].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map11 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 안전환경')

for code, label in label_map11.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 안전환경
① 전혀 만족하지 않는다: 0명
② 별로 만족하지 않는다: 1명
③ 조금 만족하지 않는다: 7명
④ 보통: 47명
⑤ 약간 만족한다: 69명
⑥ 만족한다: 30명
⑦ 매우 만족한다: 3명

수원시 환경만족도 - 사회환경

In [24]:
question_code12 = "Q3a8"

code_row12 = only1_youth23.iloc[0]
target_col12 = code_row12[code_row12 == question_code12].index[0]


response_series = only1_youth23[target_col12].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map12 = {
    1: "① 전혀 만족하지 않는다",
    2: "② 별로 만족하지 않는다",
    3: "③ 조금 만족하지 않는다",
    4: "④ 보통",
    5: "⑤ 약간 만족한다",
    6: "⑥ 만족한다",
    7: "⑦ 매우 만족한다"
}


print(f'수원시 환경만족도 - 사회환경')

for code, label in label_map12.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 환경만족도 - 사회환경
① 전혀 만족하지 않는다: 0명
② 별로 만족하지 않는다: 0명
③ 조금 만족하지 않는다: 13명
④ 보통: 54명
⑤ 약간 만족한다: 71명
⑥ 만족한다: 17명
⑦ 매우 만족한다: 2명

1인 가구 대상, 수원시 내 여가생활 평가 - 나의 전반적인 여가생활에 만족한다

In [25]:
question_code13 = "Q35a1"

code_row13 = only1_youth23.iloc[0]
target_col13 = code_row13[code_row13 == question_code13].index[0]


response_series = only1_youth23[target_col13].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map13 = {
    1: "① 전혀 그렇지 않다",
    2: "② 별로 그렇지 않다",
    3: "③ 조금 그렇지 않다",
    4: "④ 보통",
    5: "⑤ 약간 그렇다",
    6: "⑥ 그렇다",
    7: "⑦ 매우 그렇다"
}


print(f'나의 전반적인 여가생활에 만족한다')

for code, label in label_map13.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

나의 전반적인 여가생활에 만족한다
① 전혀 그렇지 않다: 1명
② 별로 그렇지 않다: 1명
③ 조금 그렇지 않다: 18명
④ 보통: 38명
⑤ 약간 그렇다: 65명
⑥ 그렇다: 31명
⑦ 매우 그렇다: 3명

1인 가구 수원 시민들의 수원시 정책 관심도

In [26]:
question_code14 = "Q47"

code_row14 = only1_youth23.iloc[0]
target_col14 = code_row14[code_row14 == question_code14].index[0]


response_series = only1_youth23[target_col14].iloc[1:]
count_result = response_series.value_counts().sort_index()


label_map14 = {
    1: "① 전혀 없다",
    2: "② 없는 편이다",
    3: "③ 보통이다",
    4: "④ 많은 편이다",
    5: "⑤ 매우 많다"
}


print(f'수원시 정책 관심도')

for code, label in label_map14.items():
    count = count_result.get(code, 0)
    print(f"{label}: {count}명")

수원시 정책 관심도
① 전혀 없다: 11명
② 없는 편이다: 30명
③ 보통이다: 95명
④ 많은 편이다: 20명
⑤ 매우 많다: 1명